fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
python-dotenv==1.1.1
openai==1.97.0
psycopg2-binary==2.9.10
sqlalchemy==2.0.36
alembic==1.14.0
kafka-python==2.2.15
prometheus-client==0.20.0
pytest==8.3.3
httpx==0.28.1

# observability
opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-instrumentation-psycopg2==0.51b0
setuptools>=69
